/* Reset default margin and padding */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Global styles */

body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

#sort-buttons button {
    margin-right: 115px;
    margin-bottom: 45px;
}

h1 {
    margin-bottom: 10px;
}

#search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#search-input {
    width: 300px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

#search-input:focus {
    outline: none;
}

button {
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

button:hover {
    background-color: red;
}


/* Post styles */

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4 columns */
    gap: 20px;
}

.post {
    border: 1px solid #ccc;
    padding: 20px;
}

.post h2 {
    margin-bottom: 10px;
}

.post p {
    margin-bottom: 5px;
}